{% extends 'base.html' %}
{% load static %}


{% block title %}
  Home
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css\index.css' %}">


<div class="typewrite-anime" style="margin-left:  55px;" >
  <h1>
    Welcome To LWS
  </h1>
  <h3>
    LEARN -
    <b href=""  class="typewrite" data-period="2000" data-type='[ "JAVASCRIPT", "DJANGO", "PYTHON", "WEB DEVELOPMENT" , "C LANGUAGE" , "APP DEVELOPMENT" , "C++" , "HTML" , "CSS" , "NODE JS" , "FLASK" , "REACT JS" ]'>
      <span class="wrap"></span>
    </b>
  </h3>
</div>


  <h1 class="Hbox-Heading">Our Cources</h1>
  <div class="Home-boxes">
    <div class="Hbox">
      <div class="Hbox-items">
        <img class="box-img" src="static\img\card-1.avif" alt="">
        <h4>Web Development</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p>
        <br>
        <a   class="btn btn-primary" href="" >Learn More</a>
      </div>
      <div class="Hbox-items">
        <img class="box-img" src="static\img\card-1.avif" alt="">
        <h4>Web Development</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p><br>
        
        <a   class="btn btn-primary" href="" >Learn More</a>
      </div>
      <div class="Hbox-items">
        <img class="box-img" src="static\img\card-1.avif" alt="">
        <h4>Web Development</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p>
        <br>
        <a   class="btn btn-primary" href="" >Learn More</a>
      </div>
      <div class="Hbox-items">
        <img class="box-img" src="static\img\card-1.avif" alt="">
        <h4>Web Development</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p>
        <br>
        <a   class="btn btn-primary" href="" >Learn More</a>
      </div>
      <div class="Hbox">
        <div class="Hbox-items">
          <img class="box-img" src="static\img\card-1.avif" alt="">
          <h4>Web Development</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p>
          <br>
          <a   class="btn btn-primary" href="" >Learn More</a>
        </div>
        <div class="Hbox-items">
          <img class="box-img" src="static\img\card-1.avif" alt="">
          <h4>Web Development</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p>
          <br>
          <a   class="btn btn-primary" href="" >Learn More</a>
        </div>
        <div class="Hbox-items">
          <img class="box-img" src="static\img\card-1.avif" alt="">
          <h4>Web Development</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p>
          <br>
          <a   class="btn btn-primary" href="" >Learn More</a>
        </div>
        <div class="Hbox-items">
          <img class="box-img" src="static\img\card-1.avif" alt="">
          <h4>Web Development</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam voluptatibus mollitia illo! Quae, </p>
          <br>
          <a   class="btn btn-primary" href="" >Learn More</a>
        </div>
   
  </div>
  
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
