{% extends 'base-auth.html' %}
{% block title %}
  SignIn
{% endblock %}
{% block body %}
  <form class="form-signin" method="post" action="/signin">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      {% endfor %}
    {% endif %}
    {% csrf_token %}
    <img class="mb-4" src="/static/img/logo_.png" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">LogIn Now</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" autofocus />

    <input type="password" name="password" id="inputPassword" class="form-control my-1" placeholder="Password" />

    <div class="checkbox mb-3">
      <label><input type="checkbox" value="remember-me" />Remember me</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <h5 class="my-1">If You don't have an Account</h5>
    <a href="/signup">Create Account</a>

    <p class="mt-5 mb-3 text-muted">&copy; 2023-2024</p>
  </form>
{% endblock %}
